/* BASIC DESKTOP CSS */
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans:wght@300&display=swap");

/*General styling for structure*/
@viewport {
  width: device-width;
  zoom: 1;
}

@-ms-viewport {
  width: device-width;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #f4f4f4;
  /* font-family: Opensans400Normal, Arial, sans-serif; */
  /* font-family: "Merriweather Sans", sans-serif; */
  color: #ffffff;
  height: 100%;
}

.navbar {
  position: sticky;
  top: 0%;
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  align-items: center;
  z-index: 999999;
  height: 4.25em;
  width: 100%;
}

.logo {
  margin-top: 0.5em;
  margin-left: 6.25em;
  display: flex;
  flex-wrap: wrap;
  height: 6vh;
  opacity: 1;
}

.logo1 {
  margin-top: 0.75em;
  margin-left: 0.63em;
}

h3 {
  font-family: Opensans900Bold, Arial, sans-serif;
}

.abtBold {
  color: #ffffff;
  font-family: Opensans500Normal, Arial, sans-serif;
  font-size: 1.3em;
  line-height: 20px;
  font-weight: 500;
  text-align: justify;
  margin-left: 20%;
  margin-right: 20%;
  font-weight: 900;
  /* font-size: larger; */
}

.abt {
  color: #ffffff;
  align-self: flex-end;
  font-family: Opensans500Normal, Arial, sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 500;
  /* text-align: left; */
  justify-content: flex-end;
  display: block;
  padding-left: 0px;
  -webkit-box-pack: end;
  text-align: justify;
  margin-left: 20%;
  margin-right: 20%;
}

.team {
  color: #000000;
  font-family: Opensans500Normal, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  justify-content: flex-end;
  display: block;
  padding-left: 0px;
  -webkit-box-pack: end;
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
}

a.navTitle {
  color: #294fe8;
  font-family: Opensans900Bold, Arial, sans-serif;
  text-align: center;
  font-weight: 900;
  font-size: 3.13em;
  display: inline;
  margin-top: 0.1em;
  margin-left: 0.5%;
  margin-right: 30%;
  text-decoration: none;

}

a.navMenu {
  font-family: Opensans600Semi, Arial, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 1em;
  font-weight: 600;
  padding: 1.44em;
  text-align: left;
  display: flex;
  /* flex-wrap: wrap;
  justify-content: space-between; */
  align-items: center;
}

.hero-title {
  font-family: Poppins700Bold, Arial, sans-serif;
  color: #fff;
  font-size: 300%;
  line-height: 250%;
  font-weight: 700;
}

.hero-title1 {
  /* align-self: flex-start; */
  font-family: Poppins900Bold, Arial, sans-serif;
  color: black;
  font-size: 52px;
  line-height: 60px;
  font-weight: 900;
  text-align: center;
}

.pollAdjust {
  text-align: center;
  align-self: center;
}

.abtTitle {
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Poppins700Bold, Arial, sans-serif;
  color: #fff;
  font-size: 50px;
  line-height: 70px;
  font-weight: 700;
  text-align: center;
}

.teamTitle {
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Poppins700Bold, Arial, sans-serif;
  color: #000;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}

.accessTitle {
  align-items: center;
  flex-direction: row;
  margin-top: 0px;
  margin-left: 45%;
  margin-bottom: 20px;
  height: 15vh;
}

.subText {
  margin-top: 20px;
  margin-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: Opensans600Normal, Arial, sans-serif;
  font-size: 22px;
  text-align: center;
  color: rgba(0, 0, 0, 0.527);
}

.tagline {
  height: 30vh;
  background-color: #294fe8;
  text-align: center;
  padding: 2%;
}

.meetTeamSection {
  height: 15vh;
  background-color: #294fe8;
  text-align: center;
  padding: 2%;
}

.vidSection {
  height: 100vh;
  background-color: #f4f4f4;
  text-align: center;
  padding: 2%;
  margin-top: 5%;
}

header {
  display: flex;
  flex-direction: column;
  font-family: "Merriweather", serif;
  height: 82vh;
}

header h2 {
  font-weight: 400;
  /* width: 50%; */
}

/* Set additional styling options for the columns*/
.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.phoneImg {
  height: 600px;
  margin-left: 30%;
  /* animation: flo 5s linear infinite alternate; */
  /* box-shadow: 0 1px 20px -2px #ffffff; */
  /* width: 70px; */
}

/* @keyframes flo {
  50% {
    transform: translateY(30px);
  }
} */

.numImg {
  width: 50%;
  height: 50%;
}

.desc {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  display: flex;
  margin-top: 130px;
  margin-bottom: 130px;
  margin-left: 60px;
  margin-right: 60px;
  -webkit-box-align: stretch;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.number {
  display: flex;
  margin-bottom: 20px;
  padding-left: 0px;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-self: flex-start;
  font-family: Poppins900Bold, Arial, sans-serif;
  color: #294fe8;
  font-size: 80px;
  line-height: 40px;
  font-weight: 900;
  text-transform: uppercase;
}

.featureTitle {
  color: #294fe8;
  margin-top: 20px;
  padding-left: 2px;
  font-family: Poppins900Bold, Arial, sans-serif;
  line-height: 50px;
  font-size: 40px;
  font-weight: 900;
}

.para {
  color: black;
  align-self: flex-end;
  font-family: Opensans500Normal, Arial, sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 500;
  text-align: left;
  justify-content: flex-end;
  display: block;
  padding-left: 0px;
  -webkit-box-pack: end;
}

.pad {
  padding-top: 70px;
  margin-left: 80px;
}

.centre {
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  margin-left: 700px;
  margin-top: 150px;
}

.button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  float: center;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 140px;
  font: 13px/40px "lucida sans", "trebuchet MS", "Tahoma";
  color: #fff;
  text-transform: uppercase;
  background: #294fe8;
  border-radius: 40px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.button1 {
  /* margin-top: 2%; */
  /* margin-right: 10%; */
  float: center;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 50px;
  width: 170px;
  font: 18px/50px "Poppins900Bold", "Arial", "sans-serif";
  font-weight: 900;
  box-shadow: 0 1px 20px -2px #fdfdfd;
  /* font: 18px/60px "lucida sans", "trebuchet MS", "Tahoma"; */
  color: #294fe8;
  text-transform: uppercase;
  background: #fff;
  border-radius: 40px;
  /* text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); */
}

.scroll-container:nth-of-type(1) {
  background-color: #294fe8;
}
.scroll-container:nth-of-type(2) {
  background-color: #f4f4f4;
}
.scroll-container:nth-of-type(3) {
  background-color: #294fe8;
}
.scroll-container:nth-of-type(4) {
  background-color: #912b88;
}
.scroll-container:nth-of-type(5) {
  background-color: #399cce;
}
.scroll-container:nth-of-type(6) {
  background-color: #319d74;
}
.scroll-container:nth-of-type(7) {
  background-color: #dc9800;
}
.scroll-container:nth-of-type(8) {
  background-color: #294fe8;
}
.scroll-container:nth-of-type(9) {
  background-color: #399cce;
}
.scroll-container:nth-of-type(10) {
  background-color: #ffffff;
}
.scroll-container:nth-of-type(even) {
  flex-direction: row-reverse;
}

.container {
  max-width: 80em;
  width: 100%;
  margin: 0 auto;
}

.videoSection {
  height: 100vh;
  min-height: 750px;
  padding: 2rem 0rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: #dfdfee;
}

.scroll-container {
  height: 100vh;
  min-height: 80vh;
  width: 100%;
  padding: 2rem 0rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.scroll-element,
.scroll-caption {
  width: 100%;
}

.scroll-element {
  min-height: 40vh;
  height: 100vh;
  width: 100%;
  background-color: #eaeaea;
}

/* .scroll-caption {
  margin: 1rem;
} */
.slogan {
  font-family: Opensans600Normal, Arial, sans-serif;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.527);
  text-align: center;
}

.privacy {
  font-family: Opensans900Bold, Arial, sans-serif;
  font-weight: 900;
  font-size: 100%;
  color: #ffffff;
}

footer {
  text-align: center;
  padding: 2rem 0;
  background-color: #294fe8;
}

footer p {
  font-size: 0.95rem;
  font-weight: bold;
  margin: 0.25rem 0;
  color: #ffffff;
}

footer a {
  /* text-decoration: none; */
  margin-top: 0%;
  color: inherit;
  font-size: small;
}

/* @media screen and (max-width: 650px) {
  .scroll-container,
  .scroll-container:nth-of-type(even) {
    flex-direction: column;
    align-content: inherit;
  }

  .scroll-element {
    height: 100%;
  }

  .scroll-element,
  .scroll-caption {
    width: 100%;
  }
} */

/*Clearing Floats*/
.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
/* Form wrapper styling */

.search-wrapper {
  width: 35em;
  margin: auto auto 3.2em auto;
  border-radius: 2.5em;
  background: transparent;
  box-shadow: 0 0.25em 1.25em -0.125em #294fe8;
}

/* Form text input */

.search-wrapper input {
  padding-left: 125%;
  width: 30em;
  height: 25px;
  padding: 10px 5px;
  float: left;
  font: bold 13px "lucida sans", "trebuchet MS", "Tahoma";
  border: 0;
  background: #fff;
  border-radius: 40px;
  border-top-style: none;
}

.search-wrapper input:focus {
  outline: 0;
  background: #fff;
  /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset; */
  padding-left: 25px;
}

.search-wrapper input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
  padding-left: 20px;
}

.search-wrapper input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.search-wrapper input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
  border-style: none;
}

/* Form submit button */
.search-wrapper button {
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 45px;
  width: 110px;
  font: 13px/40px "lucida sans", "trebuchet MS", "Tahoma";
  color: #fff;
  text-transform: uppercase;
  background: #294fe8;
  border-radius: 40px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

/* .search-wrapper button:hover {
  background: #03a539;
} */

.search-wrapper button:active,
.search-wrapper button:focus {
  background: #294fe8;
  outline: 0;
}

.search-wrapper button:focus:before,
.search-wrapper button:active:before {
  border-right-color: #c42f2f;
}

.search-wrapper button::-moz-focus-inner {
  /* remove extra button spacing for Mozilla Firefox */
  border: 0;
  padding: 0;
}

.socialIcons {
  padding-left: 1%;
  padding-right: 1%;
}

.fullscreen-bg {
  /* position: fixed; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: 0;
  text-align: center;
}
.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.wrapper {
    display: grid;
    grid-gap: 0px;
}

.blog-box-background {
    background: url(img/climbing-leaves-1600.jpg);

     Create the parallax scrolling effect 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
      background-size: cover;
}

.blog-boxes {
    margin: 50px; 10px;
    display:grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
}

.box {
    background: #ffffff;
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: 0 1px 5px rgba(104,104,104,0.8);;
    border-radius: 5px;
}

.box img {
    height: 200px;
    border: 5px solid #294fe8;
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {
}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {
}
